@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#contents {
    overflow-y: scroll;
    float: left;
    width: 61%;
    height: 90% ;
    background-color: #EEF2F9;
    padding : 30px 20px;
    
}

#contents_wrap {
    height : 100%;
    margin : 0 4.5%;
    width : auto;
    display: flex;
    flex-direction : column;
    justify-content: flex-start;
}

#fileAdd {
    width : 100%;
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top : 40px;
    position:relative;
}

.upload_input {
    width : 100%;
    height: 130px;
    position: relative;
    float:top;
}

.fileInput {
    width : 100%;
    height : 100%;
    border : 2px dashed #267dff;
    border-radius: 8px;
    box-shadow: 0 0 6px #267dff;
    cursor: pointer;
    background-color:#ffffff;   
}

form input::file-selector-button {

    background-color: #ffffff;;
    border:0;
    color: #BDBDBD;
    font-weight:800;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 47.5%;

}

.upload_input .fileimg {
    top: 20%;
    left: 49.5%;
    position: absolute;
    border : none;
    background-color : none;
    cursor: pointer;



}

.upload_input .fileBtn {
    display: block;
    top: 85%;
    left: 44%;
    width : 15%;
    height : 25%;
    background-color: #267dff;
    color : #ffffff;
    border-radius: 13px;
    font-size: 14px;
    font-weight: 800;
    position: absolute;
    
}

#filesBoard {
    margin-top : 45px;
    width : 100%;
    overflow: hidden;
    display : flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
    
}
/* 딱 맞진 않음 */
.FileContainer {
    height : 58px;
    width : 100%;
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.downImage {
    margin-left : 5px;
    width : 30px;
    height : 30px;
}

.fileTitle {
    font-size: 16px;
    font-weight: 800;
    color : black;
    margin-left: 10px;
    text-align: left
}

.titleInput {
    font-size: 16px;
    font-weight: 800;
    color : black;
    border : none;
    /* float:top; */
    /*margin-left:1.5vw;*/
    background:none;
    position: absolute;
    /* float: left; */
    padding: 0;
    background: none;
    outline: none;
    text-align: justify;
    overflow:hidden;
}

.fileType, .fileVolume {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color : #333333;
}

.fileType {
    left : 280px;
}

.fileVolume {
    left : 480px;
}

.filetitle ::placeholder{
    font-size: 16px;
    font-weight: 800;
    color : black;
}

.star_icon {
    position: absolute;
    right : 65px;
}

.trashbin_icon {
    position: absolute;
    right : 23px;
}

.button_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twenty_size {
    width: 20px;
    height: 20px;
}